<!--<h3>Media Manager</h3>-->
<!--<div class="grid grid-pad">-->
<!--<div *ngFor="let hero of heroes" (click)="gotoDetail(hero)" class="col-1-4">-->
<!--<div class="module hero">-->
<!--<h4>{{hero.name}}</h4>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<h3>Media Manager</h3>
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>media</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let medium of media">
    <td>{{medium.id}}</td>
    <td>{{medium.media}}</td>
  </tr>

  </tbody>
</table>
